<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Fake Rekordz</title>
      {% else %}
      <title>Welcome to Fake Rekordz</title>
      {% endif %}
    </head>
    <body>
      <div>
	Fake Rekords:
	<a href="{{ url_for('index') }}">Home</a>
	<a href="{{ url_for('listen') }}">Listen</a>
	<a href="{{ url_for('submit') }}">Submit</a>
	<a href="{{ url_for('contact') }}">Contact</a>
	{% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Admin</a>
        {% else %}
	<a href="{{ url_for('private')}}">Admin</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
      </div>
      <hr>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
