{% extends "base.html" %}

{% block content %}
<h1>Submit a track or mix!</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
<form action="" enctype="multipart/form-data" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=64) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=64) }}<br>
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.artistname.label }}<br>
            {{ form.artistname(size=64) }}<br>
            {% for error in form.artistname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.artistemail.label }}<br>
            {{ form.artistemail(size=64) }}<br>
            {% for error in form.artistemail.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.audiofile.label }}<br>
            {{ form.audiofile(size=64) }}<br>
            {% for error in form.audiofile.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
	<p>{{ form.submit() }}</p> 
</form>
{% endblock %}    
